
.defaultmode-view{display:none !important;}
.layarhead-margin{margin:0 7%;}
.layar-margin{padding-left:7%;padding-right:7%;}
.mainmenu-margin{position:relative;margin:0 7%;}
.toplink-inner{padding:20px 8%;margin:0 auto !important;}
.flexitem-4-news {width: calc(33.33333333% - 10px);}
.image-pimpinan{height:43vh;}
.image-aparatur{height:32vh;}