
.boxmode-view{display:none !important;}
.layar-margin{padding-left:20px;padding-right:20px;}
.layarhead-margin{margin:0;}
.mainmenu-margin{position:relative;margin:0 20px;}
.toplink-inner{padding:20px 15%;margin:0 auto !important;}
.flexitem-4-news {width: calc(25% - 10px);}
.image-pimpinan{height:47vh;}
.image-aparatur{height:36vh;}