
.boxmode .layarhead-margin{margin:0 7%;}
.boxmode .layar-margin{padding-left:7%;padding-right:7%;}
.boxmode .mainmenu-margin{position:relative;margin:0 7%;}
.boxmode .toplink-inner{padding:20px 8%;margin:0 auto !important;}
.boxmode .flexitem-4-news {width: calc(33.33333333% - 10px);}
.boxmode .image-pimpinan{height:43vh;}
.boxmode .image-aparatur{height:32vh;}