
.defaultmode .layar-margin{padding-left:20px;padding-right:20px;}
.defaultmode .layarhead-margin{margin:0;}
.defaultmode .mainmenu-margin{position:relative;margin:0 20px;}
.defaultmode .toplink-inner{padding:20px 15%;margin:0 auto !important;}
.defaultmode .flexitem-4-news {width: calc(25% - 10px);}
.defaultmode .image-pimpinan{height:47vh;}
.defaultmode .image-aparatur{height:36vh;}